<% if flash[:notice] %>
    <div class="flash">
         <%= flash[:notice] %>

         <% end %>
<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
    <%= attachment_image_tag book, :image %>
  <% end %>
  <%= attachment_image_tag book, :image %>
  <p>投稿ユーザー画像:<%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
  <p>ショップ名：<%= book.shop_name %></p>
  <p>説明：<%= book.caption %></p>
  <p>ユーザーネーム：<%= book.user.name %></p>
</div>
<% end %>